

/* || main */

body {
    max-width: 100%
}

p {
    text-align: center;
}

main div, main p {
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    display: block;
}

.ulcontained {
    display: inline-block;
    height: 300px;
    position: absolute;
    padding-top: 100px;
}

.txtcontained {
    display: inline-block;
    height: 300px;
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 20px;
    max-width: 50%;
    text-indent: 50px;
    text-align: justify;
}

.contained {
    display: inline-block;
    width: 50%;
    height: 300px;
    text-align: center;
    
}

.containedr {
    display: inline-block;
    width: 50%;
    height: 300px;
    position: absolute;
    text-align: center;
}

div img {
    max-width: 100%;
    max-height: 100%;
}

div.logo img {
    max-width: unset;
    max-height: unset;
}



@media (max-width: 600px) {
    .ulcontained {
        display: block;
        height: 200px;
        padding: unset;
        position: unset;
        text-align: center;
    }
    div.ulcontained ul {
        list-style-type: none;
    }
    .contained {
        display: block;
        width: 100%;
        height: 200px;
    }
    .txtcontained {
        display: block;
        height: unset;
        padding: unset;
        max-width: unset;
    }
    .containedr {
        display: block;
        height: 200px;
        width: unset;
        position: unset;
        text-align: center;
    }
}

@media (min-width: 1900px) {
    .ulcontained {
        padding-left: 200px;
    }
}

