

main {
        border-top: 2px solid #f9b942;
    border-left: 2px solid #f9b942;
    border-right: 2px solid #f9b942;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 5px;
    border-bottom: 2px solid #f9b942;
} 


main div {
    display: block;
    text-align: center;
    margin-top: 10px;
}

figure {
    display: block;
    text-align: center;
    margin: auto;
}



figure img {
    max-width: 90%;
    width: 400px;
    height: 797px;
}

aside ul {
    list-style-type: none;
}

aside {
    float: left;
    width: 25%;
    display: inline-block;
    position: sticky;
    top: 0;
}

aside a {
    border-radius: 0;
    display: block;
    width: 97%;
    margin-bottom: 1px;
}

.topback {
    position: fixed;
    bottom: 0;
    width: 15%;
}


p {
    margin-left: 5px;
}

@media (max-width: 600px) {
    aside {
        display: none;
    }
    main {
        margin-left: 5px;
    }
}