/* header */

.logo {
    margin: 0 auto;
    padding: 0;
    display: block;
    padding-top: 6px;
    width: 400px;
}


/*
* {
    background-color: grey;
}
*/
/*

header {
    background-image: radial-gradient(white, grey);
}

.logo {
    background-color: transparent;
}
*/
img {
    width: 400px;
    padding: 0;
    
}

nav li {
    font-family: bradley hand, cursive;
}

nav ul {
    list-style-type: none;
}


nav li a:hover, aside a:hover{
    color: #f9b942;
    background-color: #9e0f3b;
     border-bottom: 1px solid #9e0f3b;
    border-top: 1px solid #9e0f3b;
        border-right: 1px solid #9e0f3b;
    box-shadow: 2px 2px 2px #f9b942;
}

nav li a:active{
        color: #f9b942;
    box-shadow: 2px 2px 2px #f9b942 inset;
}


nav ul li ul{
    display: none;
}

nav ul li:hover ul{
    display: block;
}

nav li a, aside a {
    display: inline-block;
  color: #9e0f3b;
  text-decoration: none;
     border-bottom: 1px solid black;
    border-top: 1px solid black;
        border-right: 1px solid black;
    border-radius: 30px;
     background-color: #f9b942;
    box-shadow: 2px 2px 2px #9e0f3b;
    padding: 5px;
}

.menu {
    cursor: pointer;
    display: inline-block;
  color: #9e0f3b;
     border-bottom: 1px solid black;
    border-top: 1px solid black;
        border-right: 1px solid black;
    border-radius: 30px;
     background-color: #f9b942;
    box-shadow: 2px 2px 2px #9e0f3b;
    padding: 5px;
}

.menu:hover {
   display: inline-block;
  color: unset;
   border: unset;
    border-radius: 30px;
     background-color: unset;
    box-shadow: unset;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
}