hr {
    position: relative;
}

section {
    display: block;
    margin: 10px;
    margin-bottom: 50px;
}

div {
    display: block;
}
.imgleft {
    float: left;
    max-width: 50%;
    min-width: 40%;
}

.logo2 {
    max-width: 40%;
}

.bout {
    max-height: 200px;
    max-width: 50px;
}

.bout2 {
    max-height: 200px;
    max-width: 100px;
}

h1, h2, h3 {
     display: inline-block;
    text-align: center;
    margin: auto;
    padding: 5px 15px 5px 15px;
    font-family: bradley hand, cursive;
  color: #9e0f3b;
     border-bottom: 1px solid black;
    border-top: 1px solid black;
        border-right: 1px solid black;
    border-radius: 40px 0;
     background-color: #f9b942;
    box-shadow: 2px 2px 2px #9e0f3b;
    margin-bottom: 30px;
   
}

.title {
    display: block;
    text-align: center;
    margin-top: 10px;
}

div, p {
    margin-left: 5px;
}

p {
    text-align: justify;
}

ul {
    display: table;
}

ul li {
    min-height: 88px;
}

article {
    display: block;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.flex {
    display: flex;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.ib {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
}

.center {
    text-align: center;
}

.legal {
    font-size: 12px;
}